h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:rgba(191, 107, 255, 0.738);
  font-size: 50px;
}
.searchForm {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  color:rgba(191, 107, 255, 0.738);
  font-size: 20px;
}
.login {
   height:250px;
   max-width:250px;
   margin:40px auto;
   border-radius:2px;
   box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
   display:flex;
   flex-direction:column;
   overflow:hidden;
   animation: hi 0.5s;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background:#dcfbce;
   border-style: dotted;
   border-color: white;
   padding: 12px 45px;
}

.signup {
  min-height:300px;
  max-width:250px;
  margin:40px auto;
  border-radius:2px;
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
  display:flex;
  flex-direction:column;
  overflow:hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background:#d7f8f8;
  padding: 12px 45px;
  border-style: dotted;
  border-color: white;
   
}

.login button {
	border-radius: 20px;
	border: 1px solid #2ae96d;
	background-color: #2ae96d;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer;
}

.login input {
	background-color: #e6f5e0;
	border: none;
	padding: 12px 15px;
	margin: 8px 0px;
	width: 100%;
}

.signup input {
	background-color: #e0f4f5;
	border: none;
	padding: 12px 15px;
	margin: 8px 0px;
	width: 100%;
}

.signup button {
	border-radius: 20px;
	border: 1px solid #30e8eb;
	background-color: #30e8eb;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer;
}
.results {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.IMDb {
  list-style-type: none;
  padding: 20px;
  background: rgba(189, 128, 246, 0.196);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.searchresult {
  color: white;
  padding: 10px;
  background: rgba(16, 18, 0, 0.29);
  margin: 10px;
  letter-spacing: 2px; 
  box-sizing: border-box;
  border-style: ridge;
  max-width: 450px;
}
.searchresult button {
  border-radius: 20px;
	border: 1px solid #2ae96d;
	background-color: #2ae96d;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding: 11px 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.IMDb {
  display: flex;
  flex-wrap: wrap;
}
.searchresult {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.33% - 20px);
}
img {
  max-width: 350px;
  height: 450px;
}

.logout {
  position: absolute;
  top: 1%;
  right: 2%;
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logoutbutton {
  position: absolute;
  right: 0%;
  border: none;
  cursor: pointer;
  size: 100px;
  background-color: white;
  color: red;
  font-size: 30px;
}

.info {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #b0edbd;
  color: #00cc33;
  border: 1px solid #00cc33;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.error {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffe6e6;
  color: #cc0000;
  border: 1px solid #cc0000;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  }

.movies {
  width: 100%;
  border-style: groove;
  border-width: 1px;
  background: rgba(237, 228, 234, 0.224);
  font-size: 20px;
}
.movies li {
  font-size: 15px;
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.movies h3 {
  font-weight: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons normalbutton {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #db7ef7ae;
  cursor: pointer;
  border-radius: 10px;
}
.closebutton {
  color: rgba(255, 107, 107, 0.738);
  font-size: 30px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.searchbutton {
  cursor: pointer;
}
.searchbutton svg {
  size: 15px;
}
.favourite {
  border: none;
  background-color: none;
  cursor: pointer;
  background-color: white;
}
.favourite svg {
  fill: #ccc;
  width: 25px;
  height: 20px;
  margin-right: auto;
  border: none;
}

.favourite.active svg {
  fill: red;
  border: none;
  width: 25px;
  height: 20px;
}
.delete {
  border: none;
  cursor: pointer;
  background-color: white;
}
.delete svg {
  color: black;
  background-color: none;
  width: 25px;
  height: 20px;
}
.closeSearch svg {
  font-size: 14px;
}
.listbutton {
  border-radius: 20px;
	border: 1px solid #a731ec56;
	background-color: #a731ec56;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer;
}

